body
{
    background-color: aquamarine;
}

h1
{   
text-align:center;
font-weight: bolder;
text-shadow: 2cm;
font-size: 45px;
font-display: red;
}

h3
{   
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    color: rgb(245, 7, 7);
    margin: 0%;
}

h4
{
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    color: navyblack;
}

p
{
    font-style: italic;
    font-weight: normal;
    margin: 0;
    color: darkred;
}

p1
{
    font-weight: bold;
    font-size: 25px;
    color: midnightblue;
}

label 
{
    text-align:left;
    text-size-adjust: 2cm;
    font-style: initial;
}

input 
{
    text-align:left;
    text-size-adjust: 2cm;
    font-style: initial;
}

button
{
    font-size: 15px;
    font-weight: bold;
}

image
{
    text-align: center;
}

nav
{
    float: left;
    padding: 30px;
    width: 40%;
}

article
{
    float: inline-end;
    padding: 50px;
    width: 60%;
}

section::after
{
    content: "";
    display: table;
    clear: both;
}

footer
{
    background-color: #777777;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    margin: 2cm;
}

iframe
{
    font-size: 45px;
    background-color: steelblue;
}